<div class="container">
  <br>
  <div class=row>
    <div class=col>
    </div>

    <div class="col-6">
      <div class="card text-center">
        <div class="card-header">
          Sing Up
        </div>
        <div class="card-body">
          <div class="form-group">
            <input type="text" maxlength="10" class="form-control" placeholder="Username" [(ngModel)]="username">
          </div>
          <div class="form-group">
            <input type="input" class="form-control" placeholder="Email Address." [(ngModel)]="emaill"
              (keydown)="getCheckEmail()">
            <small class="form-text text-muted text-danger">{{emailCheck}}</small>
          </div>
          <div class="form-group">
            <input type="password" maxlength="9" class="form-control" placeholder="Password" [(ngModel)]="password"
              (keydown)="getCheckPassword()">
          </div>
          <div class="form-group">
            <input type="password" maxlength="9" class="form-control" placeholder="Re-Password" [(ngModel)]="rePassword"
              (keydown)="getCheckPassword()">
            <small class="form-text text-muted text-danger">{{passwordCheck}}</small>
          </div>
          <div class="form-group">
            <input type="text" maxlength="15" class="form-control" placeholder="First Name" [(ngModel)]="firstName"
              (keypress)="isNotNumberKeyFirstNameAndLastName($event)">
            <small class="form-text text-muted text-danger">{{firstNameCheck}}</small>
          </div>
          <div class="form-group">
            <input type="text" maxlength="15" class="form-control" placeholder="Last Name" [(ngModel)]="lastName"
              (keypress)="isNotNumberKeyFirstNameAndLastName($event)">
            <small class="form-text text-muted text-danger">{{lastNameCheck}}</small>
          </div>

          <!--dropbox-->

          <div class="input-group mb-3">
            <div class="input-group-prepend">
            </div>
            <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="countrycheck">
              <option selected [disabled]="!disableCountry">Country</option>
              <option *ngFor="let country of countrys">{{country.name}}</option>
            </select>
          </div>

          <div class="row">
            <div class="col-3">
              <p class="text-left">Sex:</p>
            </div>

            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input"
                value="male" [(ngModel)]="sex">
              <label class="custom-control-label" for="customRadioInline1"> Male</label>
            </div>

            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline2" name="customRadioInline2" class="custom-control-input"
                value="female" [(ngModel)]="sex">
              <label class="custom-control-label" for="customRadioInline2">Female</label>
            </div>

            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline3" name="customRadioInline3" class="custom-control-input"
                value="auther sex" [(ngModel)]="sex">
              <label class="custom-control-label" for="customRadioInline3">Auther sex</label>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <p class="text-left">Education:</p>
            </div>

            <div class="custom-control custom-checkbox custom-control-inline"
              *ngFor="let item of dataEducation let i = index">
              <input type="checkbox" class="custom-control-input" id={{i+1}} (change)="getCheckEdutation($event)"
                value={{i+1}}>
              <label class="custom-control-label" for={{i+1}}>{{item.education}}</label>
            </div>
          </div>

          <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal"
            (click)="OnClickRegister()">
            Submit
          </button>
          <button onclick="window.location.href = '/list'" type="button" class="btn btn-dark btn-lg btn-block">
            list
          </button>
          
          <br>
          <div *ngIf="alertJsonCreated" class="alert alert-success" role="alert">
            <p>JSON</p>
            {{inputJson}}
          </div>
        </div>
      </div>
    </div>
    <div class=col>
    </div>
  </div>
</div>