<h1 class="text-center text-secondary">List Data</h1>
<br>
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">username</th>
        <th scope="col" class="text-center">email</th>
        <th scope="col" class="text-center">password</th>
        <th scope="col" class="text-center">firstname</th>
        <th scope="col" class="text-center">lastname</th>
        <th scope="col" class="text-center">country</th>
        <th scope="col" class="text-center">sex</th>
        <th scope="col" class="text-center">education</th>
        <th scope="col" class="text-center">Edit</th>
        <th scope="col" class="text-center">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataArray let i = index">
        <td>{{i+1}}</td>
        <td><input [(ngModel)]="item.username" size=10></td>
        <td><input type="email" [(ngModel)]="item.email"size=15></td>
        <td><input type="text" [(ngModel)]="item.password"size=10></td>
        <td><input type="text" [(ngModel)]="item.firstname"size=10></td>
        <td><input type="text" [(ngModel)]="item.lastname"size=10></td>

        <td>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
            </div>
            <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="item.country"style="width: 150px;">
              <option selected >{{item.country}}</option>
              <option *ngFor="let country of countrys">{{country.name}}</option>
            </select>
          </div>
        </td>

        <td> <div class="input-group mb-3">
            <div class="input-group-prepend">
            </div>
            <select class="custom-select" id="inputGroupSelect02" [(ngModel)]="item.sex" style="width: 100px;">
              <option selected >{{item.sex}}</option>
              <option *ngFor="let sexSelect of sex">{{sexSelect.name}}</option>
            </select>
          </div>
        </td>
        <td><input [(ngModel)]="item.education"size=6></td>
        <td><button class="btn btn-warning btn-lg"
            (click)="onEdit(item._id,item.username,item.email,item.password,item.firstname,item.lastname,item.country,item.sex,item.education)">Edit</button>
        </td>
        <td><button class="btn btn-danger btn-lg" (click)="onDelete(item._id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <button onclick="window.location.href = '/'" type="button" class="btn btn-outline-success btn-lg">
      Home
    </button>
  </div>