<!-- <h1>
    {{mathA}} <br>
    {{Symbo()}}<br>
    {{mathB}}<br>
    <button  (click)="getRandomAll()">result</button>
    
</h1>

<p>{{getResult()}}</p> -->

<!--card-->
<div class="card text-center">
  <div class="card-body">
    <h1 class="text-success card-header">
      Math Random
    </h1>
<br>

    <div class="container">
      <div class="form-row">
        <div class="col">
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <input type="input" maxlength="10" class="form-control" placeholder="Input Number" [(ngModel)]="math" (keydown.enter)="onEnter($event)" (keypress)="isNumberKey($event)">
            <div class="input-group-text"> {{round}}: {{title}}</div>
            <div class="input-group-append">
              <button class="btn btn-outline-info" type="button" (click)="Random()">Random</button>
              <button class="btn btn-primary" type="button" (click)="OnclickCheck()">Click</button>
            </div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>

      <div class="row">
        <div class="col">
        </div>
        <div class="col">
          <!-- Button trigger modal -->

          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalLong">
            Answer
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Answer</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  {{mathA}}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-warning" data-dismiss="modal" (click)="Random()">Try
                    again</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          </div>
      </div>
    </div>
  </div>
</div>